.main-hero-section {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 10px;
    @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .section-1 {
        padding-top: 65px;

        .section1-wrapper {
            padding: 5px 40px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            @media (max-width: 800px) {
                text-align: center;
            }

            p {
                font-family: Poppins, sans-serif;
                color: rgba(80, 80, 80, 0.5);
            }
            h2 {
                font-family: Poppins, sans-serif;
                color: #df6951;
                font-size: 1.25rem;
                font-weight: 700;
                text-transform: uppercase;
            }
            h1 {
                font-family: Volkhov, sans-serif;
                color: #181e4b;
                font-size: 5.25rem;
                @media (max-width: 1100px) {
                    font-size: 3.2rem;
                }
            }
            .buttons {
                display: flex;
                align-items: center;
                gap: 30px;
                @media (max-width: 1100px) {
                    
                    display: flex;
                    justify-content: center;
                }

                button {
                    background-color: #f1a501;
                    color: aliceblue;
                    border: none;
                    padding: 15px 20px;
                    font-size: 18px;
                    border-radius: 8px;
                    box-shadow: 0 8px 15px 2px rgb(241 165 1 / 30%);

                    @media (max-width: 500px) {
                    padding: 8px 8px;
                    font-size: 10px;
                    }
                }
                .special-button {
                    display: flex;
                    align-items: center;
                    padding: 0px;
                    background: transparent;
                    color: rgba(80, 80, 80, 0.5);
                    box-shadow: none;
                    display: flex;
                    gap: 20px;
                    img {
                        filter: drop-shadow(0 15px 15px rgba(223, 105, 81, 0.5));
                    }
                }
            }
        }
    }
    .section-2 {
        img {
            display: inline-block;
            max-width: 100%;
        }
    }
}
