* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.spacer {
  padding-top: 150px;
}

.spacer-100 {
  padding-top: 100px;
}

header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
header .nav_menu {
  display: flex;
  align-items: center;
}
header .nav_menu .nav_link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
header .nav_menu .w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
header .nav_menu .nav_link.nav-button {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}
@media (max-width: 800px) {
  header .nav_menu {
    display: none;
  }
}

.switch {
  display: none;
}
@media (max-width: 800px) {
  .switch {
    display: block !important;
    width: 40px;
    background-color: transparent;
    color: black;
    border: none;
  }
}

.mobileNav {
  background: orange;
  width: 100vw;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: black;
  position: fixed;
  bottom: 100%;
  left: 0;
  z-index: 2;
  transition: all 0.5s ease-in-out;
  overflow-y: auto;
}
.mobileNav .mobile-nav-top-bar {
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
}
.mobileNav .mobile-nav-top-bar .logo {
  padding-top: 12px;
}
.mobileNav .mobile-nav-top-bar button {
  width: 40px;
  color: black;
  background-color: transparent;
  border: none;
  padding-top: 19px;
}
.mobileNav .search-bar {
  display: flex;
  padding: 20px 40px;
}
.mobileNav .search-bar input {
  width: 100%;
  align-items: center;
  background: #e3e6ff;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  padding: 14px 40px;
  border: none;
  outline: none;
}
.mobileNav nav {
  padding-top: 20px;
}
.mobileNav nav ul {
  display: flex;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  text-align: center;
  color: black;
  gap: 40px;
}
.mobileNav nav ul li {
  list-style: none;
}
.mobileNav.active {
  bottom: 0;
}

.main-hero-section {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 800px) {
  .main-hero-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
.main-hero-section .section-1 {
  padding-top: 65px;
}
.main-hero-section .section-1 .section1-wrapper {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 800px) {
  .main-hero-section .section-1 .section1-wrapper {
    text-align: center;
  }
}
.main-hero-section .section-1 .section1-wrapper p {
  font-family: Poppins, sans-serif;
  color: rgba(80, 80, 80, 0.5);
}
.main-hero-section .section-1 .section1-wrapper h2 {
  font-family: Poppins, sans-serif;
  color: #df6951;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}
.main-hero-section .section-1 .section1-wrapper h1 {
  font-family: Volkhov, sans-serif;
  color: #181e4b;
  font-size: 5.25rem;
}
@media (max-width: 1100px) {
  .main-hero-section .section-1 .section1-wrapper h1 {
    font-size: 3.2rem;
  }
}
.main-hero-section .section-1 .section1-wrapper .buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1100px) {
  .main-hero-section .section-1 .section1-wrapper .buttons {
    display: flex;
    justify-content: center;
  }
}
.main-hero-section .section-1 .section1-wrapper .buttons button {
  background-color: #f1a501;
  color: aliceblue;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: 0 8px 15px 2px rgba(241, 165, 1, 0.3);
}
@media (max-width: 500px) {
  .main-hero-section .section-1 .section1-wrapper .buttons button {
    padding: 8px 8px;
    font-size: 10px;
  }
}
.main-hero-section .section-1 .section1-wrapper .buttons .special-button {
  display: flex;
  align-items: center;
  padding: 0px;
  background: transparent;
  color: rgba(80, 80, 80, 0.5);
  box-shadow: none;
  display: flex;
  gap: 20px;
}
.main-hero-section .section-1 .section1-wrapper .buttons .special-button img {
  filter: drop-shadow(0 15px 15px rgba(223, 105, 81, 0.5));
}
.main-hero-section .section-2 img {
  display: inline-block;
  max-width: 100%;
}

.Categories-section {
  max-width: 1440px;
  margin: 0 auto;
}
.Categories-section .Categories-section-wrapper {
  max-width: 1340px;
  margin: 0 auto;
}
.Categories-section .Categories-section-wrapper .top-bar {
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.Categories-section .Categories-section-wrapper .top-bar h1 {
  font-family: Volkhov, sans-serif;
  color: #181e4b;
  font-size: 3.125rem;
}
.Categories-section .Categories-section-wrapper .top-bar p {
  font-family: Poppins, sans-serif;
  color: #5e6282;
  font-size: 1.125rem;
  font-weight: 500;
}
.Categories-section .Categories-section-wrapper .categories-bar {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 992px) {
  .Categories-section .Categories-section-wrapper .categories-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .Categories-section .Categories-section-wrapper .categories-bar {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.Categories-section .Categories-section-wrapper .categories-bar .card-1 {
  padding: 10px 20px;
}
.Categories-section .Categories-section-wrapper .categories-bar .card-1 .card-wrapper {
  padding: 1.875rem 1.675rem;
  border-radius: 2.25rem;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  text-align: center;
}
.Categories-section .Categories-section-wrapper .categories-bar .card-1 .card-wrapper img {
  max-width: 50%;
}
.Categories-section .Categories-section-wrapper .categories-bar .card-1 .card-wrapper p {
  font-family: Poppins, sans-serif;
  padding: 10px 10px;
  color: #5e6282;
}
@media (max-width: 1000px) {
  .Categories-section .Categories-section-wrapper .categories-bar .card-1 .card-wrapper p {
    font-size: 10px;
  }
}
.Categories-section .Categories-section-wrapper .categories-bar .card-1 .card-wrapper h1 {
  padding-top: 10px;
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}
@media (max-width: 500px) {
  .Categories-section .Categories-section-wrapper .categories-bar .card-1 .card-wrapper h1 {
    font-size: 15px;
  }
}

.Destination-section {
  max-width: 1440px;
  margin: 0 auto;
}
.Destination-section .destination-section-wrapper .top-bar {
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.Destination-section .destination-section-wrapper .top-bar p {
  font-family: Poppins, sans-serif;
  color: #5e6282;
  font-size: 1.125rem;
  font-weight: 500;
}
.Destination-section .destination-section-wrapper .top-bar h1 {
  font-family: Volkhov, sans-serif;
  color: #181e4b;
  font-size: 3.125rem;
}
.Destination-section .destination-section-wrapper .design-item {
  padding: 40px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media (max-width: 992px) {
  .Destination-section .destination-section-wrapper .design-item {
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .Destination-section .destination-section-wrapper .design-item {
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
.Destination-section .destination-section-wrapper .design-item .design {
  display: flex;
  flex-direction: column;
}
.Destination-section .destination-section-wrapper .design-item .design .img {
  flex: 1;
}
.Destination-section .destination-section-wrapper .design-item .design .img img {
  border-radius: 12px;
  display: inline-block;
  width: 100%;
}
.Destination-section .destination-section-wrapper .design-item .design .packages {
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}
.Destination-section .destination-section-wrapper .design-item .design .packages p {
  font-family: Poppins, sans-serif;
  color: #5e6282;
}
.Destination-section .destination-section-wrapper .design-item .design .packages .content {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: Poppins, sans-serif;
}
.Destination-section .destination-section-wrapper .design-item .design .packages .content .title {
  font-family: Poppins, sans-serif;
  color: #5e6282;
  font-size: 1.125rem;
  font-weight: 500;
}
.Destination-section .destination-section-wrapper .design-item .design .packages .content .desc {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Poppins, sans-serif;
  color: #5e6282;
}

.Destination-section {
  max-width: 1440px;
  margin: 0 auto;
}
.Destination-section .destination-section-wrapper .top-bar {
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.Destination-section .destination-section-wrapper .top-bar p {
  font-family: Poppins, sans-serif;
  color: #5e6282;
  font-size: 1.125rem;
  font-weight: 500;
}
.Destination-section .destination-section-wrapper .top-bar h1 {
  font-family: Volkhov, sans-serif;
  color: #181e4b;
  font-size: 3.125rem;
}
.Destination-section .destination-section-wrapper .design-item {
  padding: 40px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media (max-width: 992px) {
  .Destination-section .destination-section-wrapper .design-item {
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .Destination-section .destination-section-wrapper .design-item {
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
.Destination-section .destination-section-wrapper .design-item .design {
  display: flex;
  flex-direction: column;
}
.Destination-section .destination-section-wrapper .design-item .design .img {
  flex: 1;
}
.Destination-section .destination-section-wrapper .design-item .design .img img {
  border-radius: 12px;
  display: inline-block;
  width: 100%;
}
.Destination-section .destination-section-wrapper .design-item .design .packages {
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}
.Destination-section .destination-section-wrapper .design-item .design .packages p {
  font-family: Poppins, sans-serif;
  color: #5e6282;
}
.Destination-section .destination-section-wrapper .design-item .design .packages .content {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: Poppins, sans-serif;
}
.Destination-section .destination-section-wrapper .design-item .design .packages .content .title {
  font-family: Poppins, sans-serif;
  color: #5e6282;
  font-size: 1.125rem;
  font-weight: 500;
}
.Destination-section .destination-section-wrapper .design-item .design .packages .content .desc {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Poppins, sans-serif;
  color: #5e6282;
}

.Book-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 10px;
}
.Book-section .book-section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 992px) {
  .Book-section .book-section-wrapper {
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
.Book-section .book-section-wrapper .section-1 .top-bar {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 992px) {
  .Book-section .book-section-wrapper .section-1 .top-bar {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
.Book-section .book-section-wrapper .section-1 .top-bar p {
  font-family: Poppins, sans-serif;
  color: #5e6282;
  font-size: 1.125rem;
  font-weight: 500;
}
.Book-section .book-section-wrapper .section-1 .top-bar h1 {
  font-family: Volkhov, sans-serif;
  color: #181e4b;
  font-size: 3.125rem;
}
@media (max-width: 992px) {
  .Book-section .book-section-wrapper .section-1 .top-bar h1 {
    font-size: 20px;
  }
}
.Book-section .book-section-wrapper .section-1 .booking-bar {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.Book-section .book-section-wrapper .section-1 .booking-bar .card {
  padding-right: 40px;
  display: flex;
  gap: 15px;
}
@media (max-width: 992px) {
  .Book-section .book-section-wrapper .section-1 .booking-bar .card {
    padding: 15px 10px;
  }
}
@media (max-width: 767px) {
  .Book-section .book-section-wrapper .section-1 .booking-bar .card {
    padding: 15px 10px;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
.Book-section .book-section-wrapper .section-1 .booking-bar .card .description h1 {
  font-family: Poppins, sans-serif;
  color: #5e6282;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 700;
}
.Book-section .book-section-wrapper .section-1 .booking-bar .card .description p {
  font-family: Poppins, sans-serif;
  color: #5e6282;
  line-height: 1.7;
}
.Book-section .book-section-wrapper .section-2 {
  padding: 100px 150px;
}
@media (max-width: 992px) {
  .Book-section .book-section-wrapper .section-2 {
    padding: 15px 10px;
  }
}
@media (max-width: 992px) {
  .Book-section .book-section-wrapper .section-2 .img-div {
    padding: 15px 10px;
    display: flex;
    justify-content: center;
  }
}
.Book-section .book-section-wrapper .section-2 .img-div img {
  max-width: 100%;
  filter: drop-shadow(34px -21px 36px rgba(89, 177, 230, 0.2)) drop-shadow(-6px 8px 12px rgba(211, 211, 211, 0.5));
}

.section-testimonials {
  max-width: 1440px;
  margin: 0 auto;
}
.section-testimonials .section-testimonials-wrapper {
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 992px) {
  .section-testimonials .section-testimonials-wrapper {
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .section-testimonials .section-testimonials-wrapper {
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.section-testimonials .section-testimonials-wrapper .section-1 {
  padding-right: 60px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-testimonials .section-testimonials-wrapper .section-1 p {
  font-family: Poppins, sans-serif;
  color: #5e6282;
  font-size: 1.125rem;
  font-weight: 500;
}
.section-testimonials .section-testimonials-wrapper .section-1 h1 {
  font-family: Volkhov, sans-serif;
  color: #181e4b;
  font-size: 3.125rem;
}
@media (max-width: 768px) {
  .section-testimonials .section-testimonials-wrapper .section-1 h1 {
    padding: 15px 10px;
    font-size: 20px;
  }
}
.section-testimonials .section-testimonials-wrapper .section-2 {
  padding-top: 60px;
  display: flex;
  position: relative;
}
@media (max-width: 768px) {
  .section-testimonials .section-testimonials-wrapper .section-2 {
    display: flex;
    justify-content: center;
  }
}
.section-testimonials .section-testimonials-wrapper .section-2 img {
  position: absolute;
  top: 5px;
}
.section-testimonials .section-testimonials-wrapper .section-2 .section-2-wrapper {
  position: relative;
  padding: 50px 70px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 18px -2px rgba(0, 0, 0, 0.13);
}
.section-testimonials .section-testimonials-wrapper .section-2 .section-2-wrapper p {
  font-family: Poppins, sans-serif;
  color: #5e6082;
}
.section-testimonials .section-testimonials-wrapper .section-2 .section-2-wrapper h1 {
  padding-top: 18px;
  font-family: Poppins, sans-serif;
  color: #5e6282;
  font-size: 1.125rem;
  font-weight: 500;
}
.section-testimonials .section-testimonials-wrapper .section-2 .select-div {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 230px;
}
@media (max-width: 768px) {
  .section-testimonials .section-testimonials-wrapper .section-2 .select-div {
    display: none;
  }
}
.section-testimonials .section-testimonials-wrapper .section-2 .select-div .up {
  transform: rotate(177deg);
  border: none;
  color: #5e6282;
}
.section-testimonials .section-testimonials-wrapper .section-2 .select-div select {
  border: none;
  color: #5e6282;
}

/*# sourceMappingURL=index.css.map */
