*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box
}
.spacer{
    padding-top: 150px;
}
.spacer-100{
    padding-top: 100px;
}
.spacer-50{
    padding-top: 50px;
}
.something{
    background-image: url("https://uploads-ssl.webflow.com/6170700…/61828f1…_circles-graphics-rotate.svg), url(https://uploads-ssl.webflow.com/6170700…/618285c…_circles-graphics.svg")
}


@import"./sass/ header.scss";
@import"./sass/ main-hero-section.scss";
@import"./sass/ Categories-section.scss";
@import"./sass/ Destination-section.scss";
@import"./sass/ Destination-section.scss";
@import"./sass/ Book-section.scss";
@import"./sass/ section-testimonials.scss";
@import"./sass/ section-logos.scss";
@import"./sass/ subscription-section.scss";
@import"./sass/ footer.scss";
